<h1>All Events</h1>

<p><h2>Request help for DIY</h2></p>
<p>
    <% for event in @events_request %>
        <p><a href="/events/<%= event[:id] %>"><%= event[:title] %></a></p>
    <% end %>
</p>

<p><h2>Coaching events</h2></p>
<p>
    <% for event in @events_coaching %>
        <p><a href="/events/<%= event[:id] %>"><%= event[:title] %></a></p>
    <% end %>
</p>